* {
  box-sizing: border-box;
}

html {
  font-family: "Space Mono", monospace;
  background-color: black;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  color: white;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: blue;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.heading a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

.heading a:hover {
  background-color: white;
  color: black;
  transition: 0.35s;
  font-weight: 900;
}

.title {
  padding: 0rem 1rem;
}

.menu {
  flex-basis: 250px;
}

.planetContainer > * {
  flex: 1 1 33%;
}

.imageContainer {
  flex: 0 1 33%;
}

.Moon {
  max-width: 100%;
}

.planetContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.planetContainer h2 {
  font-size: 30px;
  font-family: "Space Mono", monospace !important;
}

@media (max-width: 600px) {
  .planetContainer {
    flex-direction: column;
  }
  .imageContainer {
    max-width: 60%;
  }
}

.MoonDesc {
  display: flex;
  justify-content: center;
}

.MoonDesc p {
  color: black;
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 80%;
}

.ButtonContainer {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 7%;

  font-weight: bold;
}

.ButtonContainer button {
  font-family: "Space Mono", monospace;
  max-width: 90px;
  font-size: 15px;
  transition: 0.3s;
  background-color: black;
  border: none;
  color: white;
}

.ButtonContainer button:hover {
  color: black;
  background-color: white;
  font-weight: bolder;
  border-radius: 10px;
  transition: 0.3s;
}
